@font-face {
    font-family: Inter Variablefont Opsz Wght;
    src: url(https://cdn.prod.website-files.com/68011fed23249a9699d7b42b/6802eb69f5be53c035b06487_Inter-VariableFont_opsz%2Cwght.ttf)format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter Variablefont Opsz Wght, Arial, sans-serif;
}

.text-muted {
    color: var(--secondary-text) !important;
}

body {
    background-color: var(--primary-background-color);
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    
    color: var(--primary-text);
    background-color: #fff;
    min-height: 100%;

}

.card {
    --bs-card-color: var(--primary-text);
}

.card-title {
    --bs-card-title-color: var(--primary-text-rgb);
}

.padding-global {
    padding-left: 2rem;
    padding-right: 2rem;
}

@media screen and (max-width: 768px) {
    .padding-global {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

/* 
888888b.                              
888  "88b                             
888  .88P                             
8888888K.   8888b.  .d8888b   .d88b.  
888  "Y88b     "88b 88K      d8P  Y8b 
888    888 .d888888 "Y8888b. 88888888 
888   d88P 888  888      X88 Y8b.     
8888888P"  "Y888888  88888P'  "Y8888  
*/

.base-card {
    overflow: hidden;
    border-radius: 16px;
}

.base-radius-16 {
    border-radius: 16px;
}

.base-shadow {
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.base-badge {
    color: white;
    background-color: var(--primary-text);
}

.section-color {
    /* background-color: #f5f3ee; */
    background: #FFDFE01A;
    background-image: linear-gradient(218deg, #ffdfe01a 48%, #efd9e399);
}

/*
8888888b.                                                     888                                             
888   Y88b                                                    888                                             
888    888                                                    888                                             
888   d88P .d88b.  .d8888b   .d88b.   8888b.  888d888 .d8888b 88888b.        8888b.  888d888 .d88b.   8888b.  
8888888P" d8P  Y8b 88K      d8P  Y8b     "88b 888P"  d88P"    888 "88b          "88b 888P"  d8P  Y8b     "88b 
888 T88b  88888888 "Y8888b. 88888888 .d888888 888    888      888  888      .d888888 888    88888888 .d888888 
888  T88b Y8b.          X88 Y8b.     888  888 888    Y88b.    888  888      888  888 888    Y8b.     888  888 
888   T88b "Y8888   88888P'  "Y8888  "Y888888 888     "Y8888P 888  888      "Y888888 888     "Y8888  "Y888888 
*/

.research-area {
    border: 3px solid #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border-radius: 16px;
    padding: 2rem;
    text-align: center;
}

.feature-icon {
width: 60px;
height: 60px;
background: #FF7C4D;
/* background: linear-gradient(150deg,rgba(255, 124, 77, 1) 0%, rgba(92, 197, 131, 1) 100%); */

border-radius: 12px;
display: flex;
align-items: center;
justify-content: center;
color: white;
margin-bottom: 1rem;
}









.team-img {
width: 80px;
height: 80px;
object-fit: cover;
border-radius: 50%;
border: 3px solid #fff;
box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

footer {
background: #212529;
color: #adb5bd;
}


.social-icon {
width: 40px;
height: 40px;
border-radius: 8px;
color: var(--vermillion-light);
display: inline-flex;
align-items: center;
justify-content: center;
transition: all 0.3s ease;
}
.social-icon:hover {
background: var(--vermillion-light);
color: white;
transform: translateY(-3px);
}

.teaching-item {
    border: 3px solid #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.foorter a {
    --bs-link-color-rgb: var(--primary-text-rgb);
    color: #adb5bd;
}